# cd env/lib/python2.7/
# ln -s /usr/lib/python2.7/dist-packages/cv.py cv.py
# ln -s /usr/lib/python2.7/dist-packages/cv2.x86_64-linux-gnu.so cv2.x86_64-linux-gnu.so

# pip install -r requirements.txt
numpy==1.11.2
scipy==0.18.1
